@using NextHave.BL.Services.Settings
@using NextHave.Nitro.Authentications

@inject ISettingsService settingsService

@inherits LayoutComponentBase

@inject ISettingsService settingsService
@inject NextHaveAuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigation

<HeadContent>
    <title>@hotelName</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["tailwind.css"]" />
</HeadContent>

<div class="min-h-screen relative">

    <Header />

    <section class="relative min-h-screen flex items-center justify-center overflow-hidden bg-gradient-to-br from-surface via-surface-secondary to-surface-tertiary">
        
        <CascadingValue Value="hotelName">@Body</CascadingValue>

    </section>

    <Footer />

</div>

@code {
    string? hotelName => settingsService.GetSetting("hotel_name");

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is { IsAuthenticated: true })
            navigation.NavigateTo("/game/nitro");
    }
}