@using NextHave.BL.Services.Settings
@using NextHave.BL.Services.Users
@using NextHave.Nitro.Authentications

@inject ISettingsService settingsService

@inherits LayoutComponentBase

@inject IJSRuntime jsRuntime
@inject IUsersService usersService
@inject NavigationManager navigation
@inject ISettingsService settingsService
@inject NextHaveAuthenticationStateProvider authenticationStateProvider

<HeadContent>
    <title>@hotelName ~ Hotel</title>
</HeadContent>

@Body

@code {
    string? hotelName => settingsService.GetSetting("hotel_name");

    [Parameter]
    public string? title { get; set; }
}