@layout NitroLayout

@page "/game/nitro"

<PageTitle>@hotelName ~ Hotel!</PageTitle>

@using NextHave.BL.Services.Users
@using System.Text
@using NextHave.BL.Clients
@using NextHave.Nitro.Authentications
@using NextHave.Nitro.Components.Layout
@using NextHave.BL.Parsers
@using NextHave.BL.Utils
@using System.Diagnostics

<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root" class="w-100 h-100"></div>

@code {
    [CascadingParameter]
    public string? hotelName { get; set; }
}