@page "/game/nitro"

@using NextHave.BL.Services.Users
@using NextHave.Nitro.Authentications
@using NextHave.Nitro.Components.Layout

@layout NitroLayout

@inject IJSRuntime jsRuntime
@inject IUsersService usersService
@inject NavigationManager navigation
@inject NextHaveAuthenticationStateProvider authenticationStateProvider

<link rel="stylesheet" href="/nitro/index.css" />

<script type="text/javascript" src="/nitro/loader.js"></script>
<link rel="modulepreload" crossorigin href="/nitro/vendor-DHw_dofZ.js" as="script" />

<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root" class="w-100 h-100"></div>

@code {
    bool isFirstRender = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && isFirstRender)
        {
            isFirstRender = false;

            var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
            var userId = await authenticationStateProvider.GetUserIdFromToken();
            if (!userId.HasValue)
            {
                navigation.NavigateTo("/login");
                return;
            }
            var token = await usersService.GetAndSetAuthToken(userId.Value);
            await jsRuntime.InvokeVoidAsync("localStorage.setItem", "nitro.sso.ticket", token);
            await jsRuntime.InvokeVoidAsync("loadNitro");
        }
    }
}