@page "/game/nitro"

@layout EmptyLayout

@inject IJSRuntime JS

@using System.Text
@using NextHave.BL.Clients
@using NextHave.Nitro.Components.Layout
@using NextHave.BL.Parsers
@using NextHave.BL.Utils
@using System.Diagnostics

<link rel="modulepreload" crossorigin href="/nitro/vendor-C03uLZeS.js" />
<link rel="stylesheet" href="/nitro/index.css" />

<PageTitle>Client</PageTitle>

<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root" class="w-100 h-100"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("loadNitro");
            await JS.InvokeVoidAsync("waitForNitro");
        }
    }

    // [JSInvokable]
    // public Task OnNitroMessage(string sessionId, List<byte> data)
    // {
    //     var buffer = data.ToArray();

    //     if (Clients.ConnectedClients.TryGetValue(sessionId, out var client))
    //     {
    //         var scope = serviceScopeFactory.CreateScope();
    //         var gameParser = scope.ServiceProvider.GetRequiredService<IPacketParser>();
    //         gameParser.HandlePacketData(buffer, buffer.Count(), sessionId);
    //         gameParser.OnNewPacket += client.Handler!.Handle;
    //     }

    //     return Task.CompletedTask;
    // }

    // [JSInvokable]
    // public async Task OnDestroy(string sessionId)
    // {
    //     if (Clients.ConnectedClients.TryRemove(sessionId, out var client))
    //         await client.Dispose();
    //     await Task.CompletedTask;
    // }
}